<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Flow Workout Manager</title>
    <!-- Including Tailwind CSS from CDN -->
    <link rel="stylesheet" href="/src/all.css"></link>
    <link rel="stylesheet" href="/src/notifs.css"></link>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <script src="/js/index.var.js"></script>
    <script src="/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/awesome-notifications@latest/dist/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>

    
<script>
  new Promise((resolve, reject) => {
      let tag = document.createElement('script');
      tag.src = "/js/index.var.js";
      tag.async = true;
      tag.onload = () => {
          resolve();
      };

      let firstScript = document.getElementsByTagName('script')[0]
      firstScript.parentNode.insertBefore(tag, firstScript);
  }).then(() => {
      notifier = new AWN({
          maxNotifications: 6,
          durations: {
              global: 60000}
          }
      )    
  });
  
</script>    

</head>

<body class="w-full h-screen" style= "background-image: url('assets/background image for login page.svg'); background-size: cover; background-position: center;"> 
    <header>
        <nav class="shadow-md flex justify-between items-center py-1 px-6">
            <span class="top-0 mt-2 left-0 flex h-12">
                <img src="/assets/transparent flex flow logo for login page.png" alt="Flex Flow Workout Manager" class=" w-100">
            </span>
            
            {{!-- {{#if logged_in}} --}}
            <button id="Dropdown" data-dropdown-toggle="dropdown" class="place-self-end text-white  bg-gradient-to-r from-blue-600 hover:from-gray-400 hover:to-blue-700 to-black  focus:outline-none font-medium rounded-lg text-base top-0 px-12 mb-3 mr-5 py-2.5 text-center inline-flex items-center dark:focus:ring-blue-800" type="button">
    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg>
</button>
{{!-- {{/if}} --}}
        </nav>
        <div id="dropdown" class="absolute mr-2 mb-2 right-0 z-10 hidden font-semibold bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-black dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
        <li>
            <a href="/homepage" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Homepage</a>
        </li>
        <li>
            <a href="/mynotifications" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Notifications</a>
        </li>
        <li>
            <a href="/logout" id="logoutButton" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Logout</a>
        </li>
    </ul>
</div>
    </header>
   
    <main>
        {{{body}}}
    </main>

  {{#if logged_in}}

  <script src="/js/dropdown.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/tagname.js"></script>


{{/if}}
</body>
</html>
