
    <!-- Container -->
    <div class="flex justify-center">
    <div class="w-full max-w-lg p-8 space-y-8 bg-white rounded-xl shadow-lg">
        <div class="text-center">
            <img src="/assets/transparent flex flow logo for login page.png" alt="Flex Flow Workout Manager" class="w-100 h-14 mx-auto mb-4">
            <h2 class="text-3xl font-bold mb-4">Need Help?</h2>
            <p class="text-gray-600 mb-6">Find answers to common questions or get in touch for further assistance.</p>
        </div>

        <!-- FAQ Section -->
        <div class="space-y-4">
            <h3 class="text-xl font-semibold">Frequently Asked Questions</h3>
            <div>
                <p class="font-lg">How do I create an account?</p>
                <p class="text-gray-600">You can create your account by going to the login page and clicking on "Create Account" located under the login button.</p>
            </div>
            <div>
                <p class="font-lg">Where can I update my profile information?</p>
                <p class="text-gray-600">Profile information can be updated in the "Account Settings" section of your dashboard.</p>
            </div>
        </div>

        <!-- Contact Info -->
        <div>
            <h3 class="text-xl font-semibold">Still need help?</h3>
            <p class="text-gray-600">Contact us at <a href="mailto:support@flexflow.com" class="text-blue-600 hover:text-blue-800">support@flexflow.com</a> or call us at <a href="tel:+4078232000" class="text-blue-600 hover:text-blue-800">+1 (234) 567-890</a>.</p>
        </div>

        <!-- Back to Login Link -->
        <div class="text-center text-lg">
            <a href="/login" class="text-blue-600 hover:text-blue-800 transition duration-300">Back to Login</a>
        </div>
    </div>
</div>
    <script src="/js/help.js"></script>

