<!-- logout.handlebars -->

<div class="container">
  <h1>Logout</h1>
  <p>Are you sure you want to logout?</p>
  <button id="logoutButton">Log Out</button>
</div>

<script src="/js/logout.js"></script>