

    <!-- Main Container for Workout Method Suggestions -->
    <div class="container mx-auto p-2 text-center">
        <h2 class="text-4xl font-semibold text-black">Workout Method Suggestions</h2>
        <p class="text-xl text-gray-700 font-semibold underline mt-5">Click an exercise to be directed to an instructional workout video.</p>

        <!-- Chest Workouts -->
        <div class="my-4">
            <h3 class="text-4xl font-semibold text-gray-900">Chest</h3>
            <div class="mt-4">
                <a href="https://youtu.be/ptpmRrzRtWQ" target="_blank" class="mb-4 p-4 shadow-lg rounded-lg bg-gradient-to-r from-black to-blue-600 hover:from-red-700 hover:to-blue-800 bg text-white font-bold py-5 px-8 inline-block">Bench Press</a>
                <a href="https://www.youtube.com/watch?v=hChjZQhX1Ls" target="_blank" class="mb-4 p-4 shadow-lg rounded-lg bg-gradient-to-r from-black to-blue-600 hover:from-red-700 hover:to-blue-800 bg text-white font-bold py-5 px-8 inline-block">Incline Press</a>
            </div>
        </div>

        <!-- Back Workouts -->
        <div class="my-4">
            <h3 class="text-4xl font-semibold text-gray-900">Back</h3>
            <div class="mt-4">
                <a href="https://www.youtube.com/watch?v=p40iUjf02j0" target="_blank" class="mb-4 p-4 shadow-lg rounded-lg bg-gradient-to-r from-black to-blue-600 hover:from-red-700 hover:to-blue-800 bg text-white font-bold py-5 px-8 inline-block">Pull-ups</a>
                <a href="https://www.youtube.com/watch?v=XxWcirHIwVo" target="_blank" class="mb-4 p-4 shadow-lg rounded-lg bg-gradient-to-r from-black to-blue-600 hover:from-red-700 hover:to-blue-800 bg text-white font-bold py-5 px-8 inline-block">Deadlifts</a>
            </div>
        </div>

        <!-- Biceps Workouts -->
        <div class="my-4">
            <h3 class="text-4xl font-semibold text-gray-900">Biceps</h3>
            <div class="mt-4">
                <a href="https://www.youtube.com/watch?v=QZEqB6wUPxQ" target="_blank" class="mb-4 p-4 shadow-lg rounded-lg bg-gradient-to-r from-black to-blue-600 hover:from-red-700 hover:to-blue-800 bg text-white font-bold py-5 px-8 inline-block">Barbell Curl</a>
                <a href="https://www.youtube.com/watch?v=zC3nLlEvin4" target="_blank" class="mb-4 p-4 shadow-lg rounded-lg bg-gradient-to-r from-black to-blue-600 hover:from-red-700 hover:to-blue-800 bg text-white font-bold py-5 px-8 inline-block">Hammer Curl</a>
            </div>
        </div>

        <!-- Shoulders Workouts -->
        <div class="my-4">
            <h3 class="text-4xl font-semibold text-gray-900">Shoulders</h3>
            <div class="mt-4">
                <a href="https://www.youtube.com/watch?v=qEwKCR5JCog" target="_blank" class="mb-4 p-4 shadow-lg rounded-lg bg-gradient-to-r from-black to-blue-600 hover:from-red-700 hover:to-blue-800 bg text-white font-bold py-5 px-8 inline-block">Shoulder Press</a>
                <a href="https://www.youtube.com/watch?v=3VcKaXpzqRo" target="_blank" class="mb-4 p-4 shadow-lg rounded-lg bg-gradient-to-r from-black to-blue-600 hover:from-red-700 hover:to-blue-800 bg text-white font-bold py-5 px-8 inline-block">Lateral Raises</a>
            </div>
        </div>

        <!-- Legs Workouts -->
        <div class="my-4">
            <h3 class="text-4xl font-semibold text-gray-900">Legs</h3>
            <div class="mt-4">
                <a href="https://www.youtube.com/watch?v=gcNh17Ckjgg" target="_blank" class="mb-4 p-4 shadow-lg rounded-lg bg-gradient-to-r from-black to-blue-600 hover:from-red-700 hover:to-blue-800 bg text-white font-bold py-5 px-8 inline-block">Squats</a>
                <a href="https://www.youtube.com/watch?v=W1SD96lrudY" target="_blank" class="mb-4 p-4 shadow-lg rounded-lg bg-gradient-to-r from-black to-blue-600 hover:from-red-700 hover:to-blue-800 bg text-white font-bold py-5 px-8 inline-block">Leg Press</a>
            </div>
        </div>

    </div>

   
