<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Flow Workout Manager</title>
    <!-- Include Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="w-full h-screen" style= "background-image: url('/assets/background\ image\ for\ login\ page.svg'); background-size: cover; background-position: center;"> 

    <!-- Container -->
   
            <nav class="shadow-md">
        <span class="top-0 mt-2 left-0 flex h-12">
            <img src="/assets/transparent flex flow logo for login page.png" alt="Flex Flow Workout Manager" class=" w-100">
        </span>
    </nav>
    <form class="space-y-10 mt-20 ml-5">


        <!-- Form -->
       
        <div class="flex flex-col items-left w-0.5 justify-center">
            <div class="relative">
                <button type="submit" id="workouts" class="transition  text-3xl font-medium text-white bg-gradient-to-r from-black to-blue-600  h-24 block text-center px-56 overflow-visible  py-4  rounded-full border drop-shadow-lg border-gray-600">My Workouts
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                    </div>
                </div>
        </div>

          <!-- Username Input -->
          <div class="flex flex-col items-left w-full justify-center">
            <div class="relative">
                <button type="submit" id="workouts" class="transition bg-gradient-to-r from-black to-blue-600  h-24 block text-center px-72 py-4 rounded-full border drop-shadow-lg border-gray-600" placeholder="">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                        <!-- Username Icon -->
                    </span>
                </div>
            </div>
        </div>

        <div class="flex flex-col items-left w-full justify-center">
            <div class="relative">
                <button type="submit" id="workouts" class="transition bg-gradient-to-r from-black to-blue-600  h-24 block text-center px-72 py-4 rounded-full border drop-shadow-lg border-gray-600" placeholder="">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                        <!-- Username Icon -->
                    </span>
                </div>
            </div>
        </div>

        <div class="flex flex-col items-left w-full justify-center">
            <div class="relative">
                <button type="submit" id="workouts" class="transition bg-gradient-to-r from-black to-blue-600  h-24 block text-center px-72 py-4 rounded-full border drop-shadow-lg border-gray-600" placeholder="">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                
                </div>
            </div>
        </div>

    

        <!-- Footer Links -->
        
        <div class="flex items-center space-x-72 mt-14 justify-center">
            <a href="/view/signup.handlebars" class="text-blue-600 text-lg hover:text-blue-800 transition duration-300">Create Account</a>
            <a href="/view/help.handlebars" class="text-blue-600 text-lg hover:text-blue-800 transition duration-300">Need Help?</a>
        </div>
    </div>
    <script src="/js/login.js"></script>
</body>
</html>
